<aside>
    <div class="menu">
        <a href="{{ path('kiwicore_home') }}" class="menu-item {% if (app.request.pathInfo starts with path('kiwicore_home')) %} active {% endif %}">Tableau de bord</a>
        <a href="{{ path('kiwicore_customer') }}" class="menu-item {% if (app.request.pathInfo starts with path('kiwicore_customer')) %} active {% endif %}">Clients</a>
        <a href="{{ path('kiwicore_product') }}" class="menu-item {% if (app.request.pathInfo starts with path('kiwicore_product')) %} active {% endif %}">Produits</a>
        <a href="{{ path('kiwicore_product_category') }}" class="menu-item">Catégories de produits</a>
        <a href="{{ path('kiwicore_stock') }}" class="menu-item">Gestion des stocks</a>
        <a href="#" class="menu-item">Factures</a>
    </div>
</aside>